
@{
     ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Nav.cshtml";
}

<section id="add-notes-top">


    <div class="top-img">

        <img src="~/Img/Front/User-Profile/banner-with-overlay.jpg" alt="user-profile" class="img-responsive" style="height: 250px;">
        <span class="top-center">
            <h2 class="top-faq" style="margin-left: -150px;  font-size: 36px;">Frequently Asked Questions</h2>
        </span>



    </div>
</section>
<!-- FAQ -->
<!--General Questions -->
<section class="FAQ space-remove">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading">
                    <h3>General Questions</h3>
                </div>
                <!-- First Question-->
                <div class="show-header myhead1">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What is Marketplace-Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata1" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- To Show Hidden Body -->
                <div class="show-body mybody1">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What is Marketplace-Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata1" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>
                <!-- Second Question -->
                <div class="show-header myhead2">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6  col-xs-8">
                            <h4>What do the Unvidersity say?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata2" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody2">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What do the Unvidersity say?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata2" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>
                <!-- Third Question -->
                <div class="show-header myhead3">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6  col-xs-8">
                            <h4>Is this legal?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata3" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody3">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>Is this legal?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata3" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--General Questions Ends -->
<!-- Uploader Questions -->
<section class="FAQ space-remove">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading">
                    <h3>Uploaders</h3>
                </div>
                <!-- First Question -->
                <div class="show-header myhead4">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What can't i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata4" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody4">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What can't i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2  col-sm-6 col-xs-4 text-right">
                            <a class="hidedata4" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>
                <!-- Second Question -->
                <div class="show-header myhead5">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What notes can i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata5" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody5">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>What notes can i sell?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata5" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- Uploader Questions Ends -->
<!-- Downloader Questions -->
<section class="FAQ space-remove">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading">
                    <h3>Downloaders</h3>
                </div>

                <!-- First Question -->
                <div class="show-header myhead6">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>How do i buy Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata6" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody6">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8 ">
                            <h4>How do i buy Notes?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata6" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>
                <!-- Second  Question -->
                <div class="show-header myhead7">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6 col-xs-8">
                            <h4>Can i edit the notes i purchased?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="showdata7" type="button">
                                <img src="~/Img/Front/FAQ/add.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="show-body mybody7">
                    <div class="row">
                        <div class="col-md-6 col-10 col-sm-6  col-xs-8">
                            <h4>Can i edit the notes i purchased?</h4>
                        </div>
                        <div class="col-md-6 col-2 col-sm-6 col-xs-4 text-right">
                            <a class="hidedata7" type="button">
                                <img src="~/Img/Front/FAQ/minus.png">
                            </a>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis dignissimos voluptates nesciunt quia nobis commodi placeat esse adipisci minima tempora quidem consectetur fugiat dolorum, amet odio quasi mollitia. Fugit, quidem.</p>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- Downloader Questions Ends -->
<!-- FAQ Ends -->
